# Dependencies
/node_modules
/FE/node_modules
/BE/node_modules
/.pnp
.pnp.js

# Build outputs
/dist
/FE/dist
/BE/dist
/build
/FE/build
/BE/build
/Training/SD-198/*.jpg
/Training/data/*
/Training/myenv/*
/Training/training_model/src/annotated_images/*
*.keras
.cursor/rules
.cursorrules
/Training/training_model/src/best.pt
# Testing
/coverage
/FE/coverage
/BE/coverage
/.nyc_output

# Environment files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.env.*.local

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Editor directories and files
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# TypeScript
*.tsbuildinfo
/FE/*.tsbuildinfo
/BE/*.tsbuildinfo

# Package manager
.npm
.yarn-integrity
.pnpm-store/

# Optional eslint cache
.eslintcache

# Optional REPL history
.node_repl_history

# Output of 'npm pack'
*.tgz

# Temporary directories
.temp
.tmp
.cache

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Diagnostic reports
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json

# System files
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
